.navbar-title {
    padding: 8px;
}

.navbar {
    background-color: black;
    color: white;
}

.header {
    display: flex;
    align-items: center;
    padding: 8px;
    gap: 16px;
}

.header-title {
    font-size: xx-large;
}

.back-button {
    background-color: white;
    width: 42px;
    height: 42px;
    border-radius: 100%;
}