.navbar-title {
  padding: 8px;
}

.navbar {
  background-color: black;
  color: white;
}

.header {
  display: flex;
  align-items: center;
  padding: 0px;
  margin: 8px 16px 8px 16px;
  gap: 16px;
}

.header-title {
  font-size: xx-large;
}

.back-button {
  background-color: white;
  width: 42px;
  height: 42px;
  border-radius: 100%;
  /* border: 1px solid gray; */
  box-shadow: 0px 0px 8px gray;
}

.back-button img {
  padding: 10px;
}

.close-button img {
  padding: 10px;
}

.sidebar {
  width: 120px;
  background-color: #dddddd;
  color: rgb(69, 69, 69);
  /* overflow-x: hidden; */
  z-index: 10;
  transition: 0.5s;
  /* padding-top: 60px; */
}

.sidebar li {
  padding: 16px;
  background-image: url(../../../public/chevron-right-solid.svg);
  /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='7.41' height='12' viewBox='0 0 7.41 12'%3E%3Cpath d='M10,6,8.59,7.41,13.17,12,8.59,16.59,10,18l6-6Z' transform='translate(-8.59 -6)' fill='%23fff'/%3E%3C/svg%3E"); */
  background-size: 8px;
  background-repeat: no-repeat;
  background-position: right 16px center;
}

.sidebar li:hover{
  background-color: #ffffff;
}

.flex {
  display: flex;
}

.fixed {
  display: flex;
}

.modal-background {
  z-index: 100;
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-container {
  margin: auto;
  width: 50%;
}

.modal-title-bar {
  overflow: hidden;
  padding-bottom: 16px;
}

.modal-title-bar h2 {
  float: left;
}

.modal-title-bar button {
  float: right;
  width: 38px;
  height: 38px;
  border-radius: 50%;
}

.modal-content {
  top: 15%;
  width: 50%;
  background-color: #fff;
  position: absolute;
  padding: 8px;
  outline: 0;
  width: 50%;
  border: 1px solid black;
  
  border-radius: 8px;
  background-color: white;
  text-align: center;
  box-shadow: 2px 2px 5px black;
}

.animate-zoom {
  animation: animatezoom 0.3s
}

@keyframes animatezoom {
  from {
    transform: scale(0)
  }

  to {
    transform: scale(1)
  }
}