.navbar-title {
  padding: 8px;
}

.navbar {
  background-color: black;
  color: white;
}

.header {
  display: flex;
  align-items: center;
  padding: 0px;
  gap: 16px;
}

.header-title {
  font-size: xx-large;
}

.close-button img {
  padding: 10px;
}

.sidebar {
  width: 140px;
}

.flex {
  display: flex;
}

.flex div {
  flex-grow: 1;
}

.fixed {
  display: flex;
}

.modal-background {
  z-index: 100;
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-container {
  margin: auto;
  width: 50%;
}

.modal-title-bar {
  overflow: hidden;
  padding-bottom: 16px;
}

.modal-title-bar h2 {
  float: left;
}

.modal-title-bar button {
  float: right;
  width: 38px;
  height: 38px;
  border-radius: 50%;
}

.modal-content {
  top: 15%;
  width: 50%;
  background-color: #fff;
  position: absolute;
  padding: 8px;
  outline: 0;
  width: 50%;
  border: 1px solid black;
  
  border-radius: 8px;
  background-color: white;
  text-align: center;
  box-shadow: 2px 2px 5px black;
}

.animate-zoom {
  animation: animatezoom 0.3s
}

@keyframes animatezoom {
  from {
    transform: scale(0)
  }

  to {
    transform: scale(1)
  }
}


main .content {
  width: 768px;
  margin: 8px auto 8px auto;
  padding: 16px;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}


@media screen and (max-width: 768px) {
  main .content {
    width: 100%;
  }
}