.activity-item {
    margin: 8px 16px 8px 16px;
    display: flex;
    align-items: center;
}

.activity-content {
    background-color: white;
    font-size: large;
    padding: 8px;
    /* width: 70%; */
    /* border: solid rgb(220, 220, 220) thin; */
    border-radius: 8px;
    background-color: white;
    text-align: left;
}

.activity-content p {
    font-size: large;
}

.activity-content:hover {
    background-color: lightblue;
    box-shadow: 1px 1px 5px rgba(0, 0, 255, 0.295);
}

.activity-time {
    margin: 0px 8px 0px 0px;
    font-size: large;
}

.fullh {
  height: 100vh;
}