.participants-statistics {
  margin-bottom: 16px !important;
}

.participants-content tr:hover > td {
  background-color: rgb(255, 232, 201) !important;
}

.checkin-icon {
  color:rgb(94, 179, 94);
}

.checkout-icon {
  color: rgb(204, 158, 72);
}
