.participants-statistics {
  margin-bottom: 16px !important;
}

.participants-content tr:hover > td {
  background-color: var(--highlight) !important;
  cursor: pointer;
}

.checkin-icon {
  color:rgb(94, 179, 94);
}

.checkout-icon {
  color: rgb(204, 158, 72);
}
