.participants-content {
    margin: 8px 16px 8px 16px;
}

/* .participants-row:hover {
  background-color: brown !important;
  color: pink;
}

.participants-row {
  background-color: rgb(42, 165, 138);
}

h1 {
  color: black;
}

table:hover,
tr:hover,
thead:hover {
    background: #20293c !important;
}

.ant-table-tbody > tr.ant-table-row:hover > td {
    background: none !important;
} */