
.activities__list table {
  /* background-color: white; */
  /* border-radius: 8px; */
  border-width: 2px;
  border-color: black;
}

.activities__list tr:hover > td {
  background-color: var(--highlight) !important;
  cursor: pointer;
}

.activities__list th {
  /* font-style: italic !important;
   */
   /* font-weight: 900 !important; */
}
