
.main-scene {
  margin: 16px;
  overflow: auto;
  /* height: 800px; */
}

.side-menu {
  /* height: 100%; */
  border-radius: 8px;
  padding: 12px;
  background: transparent !important;
  /* position: fixed; */
  /* top: 0;
  left: 0; */
  /* bottom: 0; */
}

.side-menu-content {
  border-radius: 8px;
}
